<%- include('../partials/header') %>
<%- include('../partials/memo-nav') %>

<%- include('../partials/titles3') %>

<%- include('../partials/messages') %>
<%# inserting the partial bit of code we defined in partials/messages.ejs %>

<% if (memos.length === 0) { %>
  <div class="parent memo-parent">
    <div class="child med-child mango-child">
        <h3>No matches found for <span class="redSpan"><%= query %></span></h3>
        <a href="/memos/search"><h4>Back to Search</h4></a>
    </div>
  </div>
<% }; %>


<div class="parent memo-parent">
<% memos.forEach( (memo) => { %>
  <div class="child sm-child mango-memo">
    <a href="/memos/memopage/<%= memo._id %>" class="linky">
      <h2 class="author-block"><%= memo.title %></h2>
      <p class="memo-text"><%= memo.memoBody.substring(0,250) %> ... </p>
      </a>
  </div>
<% }); %>
</div>

<% %>
