<%- include('../partials/header') %>

  <div class="titleDiv">
    <h1 class="logo title title-purp">
      Sales Rep Lookup
    </h1>
  </div>
  <div class="titleDiv">
    <h2 class="logo subtitle sub-purp">
      International
    </h2>
  </div>

  <div class="parent login-parent">
    <div class="child lg-child purp-child">

      <%- include('../partials/messages') %>

      <h2>Please select a country or region:</h2>

      <div class="sales-parent">

          <% countries.forEach(region => { %>
            <div class="sales-child sales-child-small">
              <form class="" action="/sales" method="POST">
                <p><%= region.domain %></p>
                <input type="hidden" name="dom" value="<%= region.domain %>">
                <button type="submit" class="prpl-butn" name="region" value="<%=region.name%>">
                  Select
                </button>
              </form>
            </div>
          <% }); %>

      </div>

    </div>


  </div>
