<%- include('../partials/header') %>
<%- include('../partials/inv-nav') %>

<%- include('../partials/titles2') %>

<%- include('../partials/messages') %>

<div class="parent memo-parent">

  <div class="child login-child grn-child">

    <form action="/inv/search" method="POST" class="">
      <h3 class="inventory-title">Item # Search</h3>
      <label for="itemNum">Item Number: </label>
      <input type="text" class="form-class" name="itemNum" value="" required>
      <br>
      <%- include('../partials/warehouse-list') %>
      <br>
      <button type="submit" class="green-butn" name="searchType" value="byItem">Search!</button>
    </form>

  </div>

  <div class="child login-child grn-child">

    <form action="/inv/search" method="POST" class="">
      <h3 class="inventory-title">Description Search</h3>
      <label for="description">Item Description: </label>
      <input type="text" class="form-class" name="description" value="" required>
      <br>
      <%- include('../partials/warehouse-list') %>
      <br>
      <button type="submit" class="green-butn" name="searchType" value="byDesc">Search!</button>
    </form>

  </div>

  <div class="child med-child grn-child">

    <form action="/inv/search" method="POST" class="">
      <h3 class="inventory-title">Warehouse Inventory</h3>
      <label for="itemNum">Warehouse Location: </label>
      <select class="form-class" name="wareCountry" required>
        <option value="">Please select</option>
        <option value="China"> China </option>
        <option value="France"> France </option>
        <option value="Germany"> Germany </option>
        <option value="Italy"> Italy </option>
        <option value="Japan"> Japan </option>
        <option value="United Kingdom"> United Kingdom </option>
        <option value="United States"> United States </option>
      </select>
      <br>
      <button type="submit" class="green-butn" name="searchType" value="fullInv">Search!</button>
    </form>

  </div>


</div>
