
  <div>
    <% parts.forEach( (part) => { %>
      <div>
        <p>{</p>
        <p> "itemNum": "<%= part.itemNum %>", </p>
        <p> "description": "<%= part.description %>", </p>
        <p> "warehouse": "<%= part.warehouse %>", </p>
        <p> "siteName": "<%= part.siteName %>", </p>
        <p> "oracleName": "<%= part.oracleName %>", </p>
        <p> "onhand": "<%= part.onhand %>", </p>
        <p> "vendor": "<%= part.vendor %>" </p>
        <p>},</p>
      </div>
    <% }); %>
  </div>
